/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.container {
  padding: 5px 0 0 20px;
}

.input {
  padding: 0 0 0 20px;
}

.pb-1 {
  padding: 0 0 16px 0;
}

.w-6 {

}